body {
/* Home */

position: relative;
width: 1152px;
height: 2041px;
border-style: solid;

background: #FFFFFF;
}

/* ini foto */
#afdil {
  position: absolute;
  width: 243px;
  height: 243px;
  left: 760px;
  top: 210px;
  border-radius: 50%;
  z-index: 1;
 }

#kotak {
  position: absolute;
  width: 243px;
  height: 243px;
  left: 755px;
  top: 223px;
  border-radius: 50%;
  z-index: 2;
  background: #EDF7FA;

} 
/* ini akhir foto */

/* ini header nama dan profesi */
.foto h1 {
  position: absolute;
  width: 506px;
  height: 105px;
  left: 148px;
  top: 210px;
  vertical-align: top;

  font-family: Heebo;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */
  
  
  /* Dark Color */
  
  color: #21243D;}
/* ini header nama dan profesi */

/* ini aboutme */
.aboutme p {
  position: absolute;
  width: 497px;
  height: 66px;
  left: 148px;
  top: 373px;
  
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  text-align: justify;
  
  
  /* Dark Color */
  
  color: #21243D;
}
/* akhir ini aboutme */

/* ini section headline-day atau contact */
section {
  /* Rectangle 23 */
  position: absolute;
  width: 1152px;
  height: 396px;
  left: 0px;
  top: 595px;
  background: #EDF7FA;
}

.grid-item1 {
  /* Headline */
  display: grid;
  margin-right: 148px;
  margin-left: 140px;
  margin-top: 8px;
  margin-bottom: 0px;

  /* TITLE 2 */

  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  letter-spacing: 0.015em;
  text-transform: uppercase;

  /* PRIMARY / GREEN */

  color: #136223;
}

.grid-item2 {
  /* Headline */
  display: grid;  
  margin-left: 148pxx;
  margin-top: 8px;

  /* TITLE 2 */

  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  letter-spacing: 0.015em;
  text-transform: uppercase;

  /* PRIMARY / GREEN */

  color: #136223;
}

/* ini akhir section headline-day atau contact */

/* ini contact */

.flex-container1 img {
  /* Vector */
  display: flex;
  position: absolute;
  margin-left: 148px;
  margin-top: 0;
  }

.flex-container1 h3 {
  display: flex;
  position: absolute;
  margin-left: 184.54px;
  margin-top: 0;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;

  color: #100101;

}  

.flex-container2 img {
  /* Vector */
  display: flex;
  position: absolute;
  margin-left: 144px;
  margin-top: 30px;
}

.flex-container2 h3 {
  display: flex;
  position: absolute;
  margin-left: 184.54px;
  margin-right: 0px;
  margin-top: 30px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;

  color: #100101;
}  

.flex-container3 img {
  /* Vector */
  display: flex;
  position: absolute;
  margin-left: 146px;
  margin-top: 60px;
}

.flex-container3 h3 {
  display: flex;
  position: absolute;
  margin-left: 184.54px;
  margin-right: 0px;
  margin-top: 60px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;

  color: #100101;
}  

.flex-container4 img {
  /* Vector */
  display: flex;
  position: absolute;
  margin-left: 142px;
  margin-top: 90px;
}

.flex-container4 h3 {
  display: flex;
  position: absolute;
  margin-left: 184.54px;
  margin-right: 0px;
  margin-top: 90px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;

  color: #100101;
}  

.flex-container5 h3 {
  display: flex;
  margin-left: 604px;
  margin-top: 0px;
  margin-bottom: 6px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  
  letter-spacing: 0.015em;
  
  color: #000000;}  

.flex-container5 h4 {
  display: flex;
  margin-left: 604px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
/* identical to box height */
    
  letter-spacing: 0.015em;
    
  color: #000000;}  

.flex-container6 h3 {
  display: flex;
  margin-left: 604px;
  margin-top: 0px;
  margin-bottom: 6px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
    
  letter-spacing: 0.015em;
    
  color: #000000;}  
  
.flex-container6 h4 {
  display: flex;
  margin-left: 604px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
    /* identical to box height */
      
  letter-spacing: 0.015em;
      
  color: #000000;}  

  .flex-container7 h3 {
    display: flex;
    margin-left: 604px;
    margin-top: 0px;
    margin-bottom: 6px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
      
    letter-spacing: 0.015em;
      
    color: #000000;}  
    
  .flex-container7 h4 {
    display: flex;
    margin-left: 604px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
      /* identical to box height */
        
    letter-spacing: 0.015em;
        
    color: #000000;}  
  
  

ul {
  margin: 6px;
}

li {
    margin-left: 575px;
    margin-top: 0px;
    margin-bottom: 0px;

  /* Description */

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  list-style-type: disc;
  /* identical to box height */
  
  color: #52575C;
  }

/* ini akhir contact */

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.flex-container {
  display: flex;
}

