body {
/* Home */

position: relative;
width: 1152px;
height: 2041px;
border-style: solid;

background: #FFFFFF;
}

/* ini foto */
#afdil {
  position: absolute;
  width: 243px;
  height: 243px;
  left: 760px;
  top: 210px;
  border-radius: 50%;
  z-index: 1;
 }

#kotak {
  position: absolute;
  width: 243px;
  height: 243px;
  left: 755px;
  top: 223px;
  border-radius: 50%;
  z-index: 2;
  background: #EDF7FA;

} 
/* ini akhir foto */

/* ini header nama dan profesi */
.foto h1 {
  position: absolute;
  width: 506px;
  height: 105px;
  left: 148px;
  top: 210px;
  vertical-align: top;

  font-family: Heebo;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */
  
  
  /* Dark Color */
  
  color: #21243D;}
/* ini header nama dan profesi */

/* ini aboutme */
.aboutme p {
  position: absolute;
  width: 497px;
  height: 66px;
  left: 148px;
  top: 373px;
  
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  text-align: justify;
  
  
  /* Dark Color */
  
  color: #21243D;
}
/* akhir ini aboutme */

/* ini section headline-day atau contact */
section {
  /* Rectangle 23 */
  position: absolute;
  width: 1152px;
  height: 396px;
  left: 0px;
  top: 595px;
  background: #EDF7FA;
}

.grid-item1 {
  /* Headline */
  display: grid;
  margin-right: 148px;
  margin-left: 140px;
  margin-top: 8px;
  margin-bottom: 0px;

  /* TITLE 2 */

  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  letter-spacing: 0.015em;
  text-transform: uppercase;

  /* PRIMARY / GREEN */

  color: #136223;
}

.grid-item2 {
  /* Headline */
  display: grid;  
  margin-left: 148pxx;
  margin-top: 8px;

  /* TITLE 2 */

  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  letter-spacing: 0.015em;
  text-transform: uppercase;

  /* PRIMARY / GREEN */

  color: #136223;
}

/* ini akhir section headline-day atau contact */

/* ini contact */

.flex-container1 img {
  /* Vector */
  display: flex;
  position: absolute;
  margin-left: 148px;
  margin-top: 0;
  }

.flex-container1 h3 {
  display: flex;
  position: absolute;
  margin-left: 184.54px;
  margin-top: 0;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;

  color: #100101;

}  

.flex-container2 img {
  /* Vector */
  display: flex;
  position: absolute;
  margin-left: 144px;
  margin-top: 30px;
}

.flex-container2 h3 {
  display: flex;
  position: absolute;
  margin-left: 184.54px;
  margin-right: 0px;
  margin-top: 30px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;

  color: #100101;
}  

.flex-container3 img {
  /* Vector */
  display: flex;
  position: absolute;
  margin-left: 146px;
  margin-top: 60px;
}

.flex-container3 h3 {
  display: flex;
  position: absolute;
  margin-left: 184.54px;
  margin-right: 0px;
  margin-top: 60px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;

  color: #100101;
}  

.flex-container4 img {
  /* Vector */
  display: flex;
  position: absolute;
  margin-left: 142px;
  margin-top: 90px;
}

.flex-container4 h3 {
  display: flex;
  position: absolute;
  margin-left: 184.54px;
  margin-right: 0px;
  margin-top: 90px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;

  color: #100101;
}  

.flex-container5 h3 {
  display: flex;
  margin-left: 604px;
  margin-top: 0px;
  margin-bottom: 6px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  
  letter-spacing: 0.015em;
  
  color: #000000;}  

.flex-container5 h4 {
  display: flex;
  margin-left: 604px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
/* identical to box height */
    
  letter-spacing: 0.015em;
    
  color: #000000;}  

.flex-container6 h3 {
  display: flex;
  margin-left: 604px;
  margin-top: 0px;
  margin-bottom: 6px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
    
  letter-spacing: 0.015em;
    
  color: #000000;}  
  
.flex-container6 h4 {
  display: flex;
  margin-left: 604px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
    /* identical to box height */
      
  letter-spacing: 0.015em;
      
  color: #000000;}  

  .flex-container7 h3 {
    display: flex;
    margin-left: 604px;
    margin-top: 0px;
    margin-bottom: 6px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
      
    letter-spacing: 0.015em;
      
    color: #000000;}  
    
  .flex-container7 h4 {
    display: flex;
    margin-left: 604px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
      /* identical to box height */
        
    letter-spacing: 0.015em;
        
    color: #000000;}  

ul {
  margin: 6px;
}

li {
    margin-left: 575px;
    margin-top: 0px;
    margin-bottom: 0px;

  /* Description */

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  list-style-type: disc;
  /* identical to box height */
  
  color: #52575C;
  }

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.flex-container {
  display: flex;
}

/* ini akhir contact */

/* ini portfolio */
.portfolio {
  margin-top: 1020px;
  margin-left: 146px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
/* identical to box height */

letter-spacing: 0.015em;
text-transform: uppercase;

/* PRIMARY / GREEN */

color: #136223;

}

.portfolio1 img {
  position: absolute;
  margin-left: 146px;
  top: 1088px;  
}

.portfolio1 h3 {
  position: absolute;
  width: 305px;
  height: 44px;
  font-family: Heebo;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 44px;
  /* identical to box height */

  /* Dark Color */

  color: #21243D;
  margin-left: 445px;
  margin-top: 18px;
}

.rectangle1 {
  /* Rectangle 1 */

  position: absolute;
  width: 62px;
  height: 25px;
  margin-left: 445px;
  top: 1150px;

  background: #142850;
  border-radius: 16px;
}

.tahun1 {
  /* 2020 */

  position: absolute;
  width: 42px;
  height: 60px;
  margin-left: 455px;
  top: 1115px;

  font-family: Heebo;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 60px;
  /* identical to box height, or 333% */


  color: #FFFFFF;

}

.software1 {
  position: absolute;
  width: 374px;
  height: 34px;
  margin-left: 535px;
  top: 1129px;

  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;

  /* Light */

  color: #8695A4;

}

.keterangan1 {
  position: absolute;
  width: 374px;
  height: 34px;
  margin-left: 445px;
  top: 1180px;

  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  /* Light */

  color: #8695A4;

}

.portfolio2 img {
  position: absolute;
  margin-left: 146px;
  top: 1350px;  
}

.portfolio2 h3 {
  position: absolute;
  width: 305px;
  height: 44px;
  font-family: Heebo;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 44px;
  /* identical to box height */

  /* Dark Color */

  color: #21243D;
  margin-left: 445px;
  margin-top: 278px;
}

.rectangle2 {
  /* Rectangle 2 */

  position: absolute;
  width: 62px;
  height: 25px;
  margin-left: 445px;
  top: 1410px;

  background: #142850;
  border-radius: 16px;
  z-index: -1;
}

.tahun2 {
  /* 2020 */

  position: absolute;
  width: 42px;
  height: 60px;
  margin-left: 455px;
  top: 1375px;

  font-family: Heebo;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 60px;
  /* identical to box height, or 333% */

  color: rgb(253, 251, 251);

}

.software2 {
  position: absolute;
  width: 374px;
  height: 34px;
  margin-left: 535px;
  top: 1390px;

  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;

  /* Light */

  color: #8695A4;

}

.keterangan2 {
  position: absolute;
  width: 374px;
  height: 34px;
  margin-left: 445px;
  top: 1440px;

  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  /* Light */

  color: #8695A4;

}

.portfolio3 img {
  position: absolute;
  margin-left: 146px;
  top: 1612px;  
}

.portfolio3 h3 {
  position: absolute;
  width: 305px;
  height: 44px;
  font-family: Heebo;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 44px;
  /* identical to box height */

  /* Dark Color */

  color: #21243D;
  margin-left: 445px;
  margin-top: 538px;
}

.rectangle3 {
  /* Rectangle 3 */

  position: absolute;
  width: 62px;
  height: 25px;
  margin-left: 445px;
  top: 1670px;

  background: #142850;
  border-radius: 16px;
  z-index: -1;
}

.tahun3 {
  /* 2020 */

  position: absolute;
  width: 42px;
  height: 60px;
  margin-left: 455px;
  top: 1635px;

  font-family: Heebo;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 60px;
  /* identical to box height, or 333% */

  color: rgb(255, 255, 255);

}

.software3 {
  position: absolute;
  width: 374px;
  height: 34px;
  margin-left: 535px;
  top: 1650px;

  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;

  /* Light */

  color: #8695A4;

}

.keterangan3 {
  position: absolute;
  width: 374px;
  height: 34px;
  margin-left: 445px;
  top: 1705px;

  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  /* Light */

  color: #8695A4;

}

.lesson-footer {
  height:50px;
  line-height:50px;
  background:#333;
  color:#fff;
}